<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="CompleteAction"
		class="com.bss.action.CompleteAction">
	</bean>
	<bean id="CompleteTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="CompleteAction"/>
		</property>
		<property name="targetMethod">
			<value>doComplete</value>
		</property>
	</bean>
	<bean id="CompleteTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="CompleteTask"/>
		</property>
		<property name="cronExpression">
			<value>0 45 9 * * ?</value> 
		</property>		
	</bean>
	
	<bean autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
			 	<ref local="CompleteTrigger"/>
			</list>
		</property>
	</bean>
</beans>